.container {
  background: url("/relogio_astonmartin.jpg");
  background-size: cover;
  padding: 1.5rem;
  /* height: 100vh; */


  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  box-shadow: 2rem 1rem 3rem -1rem black;
  max-width: 90%;
  
}

.header {
  background: url("/relogio_astonmartin.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;

}

.header img {
  width: 40%;
  
  border-radius: 100%;
  transform: translateY(50%);
  padding: 0.5rem;
  background: white;
}

.content {
  min-height: 25vmax;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: rgb(110, 109, 109);
  font-size: 1rem;
}

.content span {
  font-size: 120%;
}

.content strong {
  color: black;
}

.footer {
  border-top: 0.2rem solid silver;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.footer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(110, 109, 109);
}

footer strong {
  font-size: 140%;
  color: black;
}

@media (min-width: 600px) {
  .content,
  .footer {
    font-size: 1.5rem;
  }
  
}

@media (min-width: 1024px) {
  section {
    max-width: 900px;
    /* font-size: 140%; */
  }

  .content,
  .footer {
    font-size: 1.75rem;
  }
}