.shipWSOnBoard {
  display: flex;
  flex-direction: column;

  background: url(/ws-02.jpg);
  background-size: cover;
}

.shipWSOnBoardWS {
  width: 100%;
}


.shipWSOnBoardHeader {
  margin: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.shipWSOnBoardHeader span {
  display: flex;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  /* background-color: rgb(255, 4, 171); */
  background: conic-gradient(rgb(235, 159, 140) 65%, rgba(235, 159, 140, 0.8) 0deg);
  font-size: 0;
}

.shipWSOnBoardHeader span::after {
  /* content: attr(data-progress) '%'; */
  content: '';
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 5rem;
  margin: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
}

.shipWSOnBoardHeader div {
  display: flex;
  flex-direction: column;

  font-size: 190%;
  line-height: 1.1;
}

.shipWSOnBoardBody {
  display: flex;
  flex-direction: column;
}

.shipWSOnBoardBody img {
  width: 100%;
  height: 60vh;
  
  object-fit: cover;
}


.shipWSOnBoardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem;
}

.shipWSOnBoardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 250%;
  line-height: 1;
}

.shipWSOnBoardTitle span {
  margin-bottom: 1rem;
  
  font-weight: lighter;
  font-size: 110%;
  letter-spacing: 1rem;
  
  color: rgb(235, 159, 140);
}

.shipWSOnBoardTitle strong {
  font-size: 140%;
  letter-spacing: 1rem;
  line-height: 1;
}

.shipWSOnBoardContent p {
  margin: 0.5rem;
  margin-top: 2rem;

  text-align: justify;
  font-size: 110%;
}

.shipWSOnBoardForm {
  display: flex;
  justify-content: center;
  padding: 1rem;

  width: 100%;
}

.shipWSOnBoardForm input {
  min-width: 70%;
  font-size: 100%;
  border-radius: 3rem;
  padding: 1rem;
  
  
  border: 2px solid rgb(235, 159, 140);
  outline: none;
  
  color: rgb(247, 82, 41);
  background: transparent;
}

.shipWSOnBoardForm button {
  border: none;

  transform: translateX(-70%);
  border-radius: 50%;

  font-size: 180%;
  font-weight: bold;
  
  color: rgb(255, 255, 255);
  background: rgba(235, 159, 140);
  width: 5rem;
  box-shadow: 1px 0.2rem 1.5rem -0.5rem rgba(235, 159, 140, 0.904);
}

.shipWSOnBoardForm button:active {
  transform: translateX(-60%);
  background: rgba(255, 255, 255, 0.9);
  color: rgba(235, 159, 140);
}


@media (min-width: 1024px) {
  .shipWSOnBoardWS {
    width: 900px;
  }
}